@use "../../styles/variables" as *;

.main {
  &__container {
    min-width: 1755px;
    display: flex;
    justify-content: space-between;
    background-color: $blue;
    width: 100vw;
    height: 100vh;
    color: $grey;
  }

  &__side {
    width: 20vw;
    text-align: center;
    margin-top: 10rem;
    flex: 1;
  }

  &__logo {
    width: 55rem;
    margin-top:-7rem;
    margin-bottom: 0;
  }

  &__text {
    font-size: 1.4rem;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 43rem;
  }
  &__google {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;


  &--box{
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

  }

    &--guest {
      color: $blue;
      margin-top: 0rem;
      margin-bottom:0.5rem;
      font-weight: 600;
      text-decoration: none;
      font-size: 1.4rem;
    }
  }

  &__signin {
    display: flex;
    flex-direction: column;
    background-color: $grey;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 30rem;
    margin: auto;

    &--label {
      align-self: flex-start;
      font-size: 1.8rem;
      color: $blue;
      margin-top: 2rem;
      margin-left: 2.5rem;
    }
    &--input {
      font-size: 1.4rem;
      height: 4rem;
      width: 90%;
      padding-left: 1rem;
      margin: auto;
      margin-bottom: 0;
      margin-top: 0;
      border-radius: 10px;
      outline: none;
      border: 1px solid $blue;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    }

    &--button {
      font-size: 2rem;
      background-color: $white;
      color: $blue;
      width: 60%;
      height: 5rem;
      border-radius: 10px;
      margin: auto;
      margin-bottom: 0;
      margin-top: 3rem;
      outline: none;
      border: 1px solid $blue;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    margin-top: -1rem;

    &--signup {
      margin-right: 4rem;
    }
  }
  &__img {
    width: 2000px;
    flex: 1;
  }
}
hr{
  height: 1px;
  background-color: $blue;
  border: none;
  margin: 1rem;
}