.menu{
    &__container{
        position:absolute;
        right:0;
        top:8rem;
        text-align: center;
        width:8vw;
        min-width:17rem;
        background-color: $cream;
        border:1px solid $blue;
        border-radius: 10px;
    }
    &__box{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom:0;
        margin-top:0;
        margin-left:1rem;
    }

    &__name{
        color:$blue;
        font-size:2.2rem;
        text-decoration: underline;
    }
    &__label{
        color:$blue;
        font-size:1.8rem;
        font-weight: 600;
        margin:1rem;

        &:hover{
            cursor: pointer;
        }
    }
    &__img{
        height:3rem;
        margin-left:2rem;
        &:hover{
            cursor: pointer;
        }

        &-contact{
            margin-left:1rem;
        }

        &-logout{
            margin-left:2.5rem;
        }
        &-home{
            margin-left: 2.5rem;
        }
    }
}