@use "../../styles/variables" as *;

.dashboard {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 17vw;
    height: 85vh;
    background: $cream;
    border: 1px solid $blue;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-top: 2rem;
    margin-right: 2rem;
  }
  &__title{
    color:$blue;
    text-decoration: underline;
    margin-bottom:1rem;
    margin-top:0.5rem;
  }

  &__saved{
    margin:1rem;
  

    &--container{
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        padding:1rem;
        padding-top:0.5rem;
    }

    &--box{
        margin:0;
    

    }

    &--title{
        color:$blue;
        font-size:1.4rem;
        margin-bottom:0;
    }

    &--deadline{
        color:$red;
        font-size:1.2rem;
        margin-top:0;
    }

    &--buttons{
        display:flex;
        justify-content: space-evenly;

        &--apply {
            font-size: 1.4rem;
            background-color: $blue;
            border: 1px solid $black;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
            border-radius: 10px;
            color: $white;
            padding: 0.5rem 2rem;
          }
          &--hide {
            font-size: 1.4rem;
            background-color: $red;
            border: 1px solid $darkRed;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
            border-radius: 10px;
            color: $white;
            padding: 0.5rem 2rem;
          }
    }
  }


}
